extends layout

block content
	h1= title
	h2= user.firstname

	.right_field
		a(href="/profile") Edit Profile
		span.sub  | 
		a(href="/logout") Log Out

	form(action="/home", method="POST", id="form")
		input(type="text", name="diarycontent", id="diary", placeholder="What's on your mind")
		input(type="submit", value="Submit")

	ul
		-each userInput in diaries.reverse()
			if user._id.toString() === userInput.owner.toString()
				li= userInput.diarycontent
				li= userInput._id

					.left_field
					ul
						li= userInput.createdAt
							span.sub  | 
							a(href='/del') Delete
							br
							br